@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

.barra {
  background-color: #858585;
  font-family: "Exo 2", sans-serif; }

.logoNav {
  width: 100px; }

.navbar-collapse {
  display: flex;
  justify-content: end; }

.nav-link {
  font-size: 110%;
  font-weight: bold;
  text-align: right; }

.footer {
  background-color: #858585;
  height: 50px;
  font-family: "Exo 2", sans-serif;
  width: 100vw; }
  .footerLista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 0%; }
    .footerLista .redesSociales {
      color: white; }

.mainIndex {
  height: auto;
  background-color: grey;
  background-image: url("/imagenes/carbon_fibre.png");
  font-family: "Exo 2", sans-serif;
  width: 100vw; }

.tituloIndex {
  color: white;
  font-weight: bold;
  font-size: 500%;
  text-align: center;
  margin-bottom: 10%;
  padding-top: 10%;
  word-spacing: 30px;
  letter-spacing: 15px;
  animation-name: animarTitulo;
  animation-duration: 1.5s; }

.infoMain {
  padding-left: 5%;
  padding-right: 5%; }

.fotoIndex {
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%; }

.h2Index {
  color: white;
  font-size: 250%;
  padding-bottom: 5%; }

.h3Index {
  color: white;
  font-size: 180%;
  padding-bottom: 5%; }

.h4Index {
  color: white;
  font-size: 100%;
  font-weight: lighter;
  text-align: justify;
  padding-bottom: 5%; }

.numeros {
  margin-top: 10%;
  margin-bottom: 10%;
  animation-name: animacionNumeros;
  animation-duration: 2s; }

.listaNumeros {
  color: white;
  list-style: none;
  text-align: center;
  font-size: 120%;
  border-color: #610000;
  border-radius: 5%;
  border-style: solid;
  background-color: black;
  position: relative;
  animation-name: animarNumeros;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }
  .listaNumerosTamaño {
    font-size: 250%; }

@keyframes animarNumeros {
  from {
    box-shadow: none; }
  to {
    box-shadow: -10px -10px 20px #610000; } }

.carousel {
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%; }

.fotoMiniGaleria {
  height: 80%; }

@media only screen and (max-width: 500px) {
  .tituloIndex {
    font-size: 310%; }
  .h2Index {
    font-size: 200%; }
  .h3Index {
    font-size: 130%; }
  .h4Index {
    font-size: 80%;
    font-weight: normal; }
  .listaNumeros {
    font-size: 100%; }
    .listaNumerosTamaño {
      font-size: 180%; } }

.mainRaces {
  background-color: grey;
  background-image: url("/imagenes/carbon_fibre.png");
  font-family: "Exo 2", sans-serif;
  width: 100vw; }
  .mainRaces .h1Races {
    color: white;
    text-align: center;
    font-size: 400%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    animation-name: animarTitulo;
    animation-duration: 1.5s; }
  .mainRaces .tableRaces {
    color: white;
    border-color: white;
    border-style: solid;
    background-color: rgba(153, 10, 10, 0.85);
    margin: auto;
    border-collapse: collapse;
    line-height: 2;
    text-align: center;
    position: relative;
    bottom: 50px;
    width: 85%; }
    .mainRaces .tableRaces .tableRowsFirst {
      background-color: #610000; }
      .mainRaces .tableRaces .tableRowsFirst .tableParts {
        border-color: white;
        border-style: solid; }
    .mainRaces .tableRaces .tableRows {
      background-color: rgba(97, 0, 0, 0.616); }
      .mainRaces .tableRaces .tableRows .tableParts {
        border-color: white;
        border-style: solid; }

@media only screen and (max-width: 560px) {
  .tableRaces {
    font-size: 60%;
    margin-top: 10%; }
  .h1Races {
    font-size: 300%;
    padding-bottom: 10%; } }

@media only screen and (max-width: 360px) {
  .tableRaces {
    font-size: 50%;
    margin-top: 10%; }
  .h1Races {
    font-size: 240%;
    padding-bottom: 10%; } }

.mainPyE {
  background-color: grey;
  background-image: url("/imagenes/carbon_fibre.png");
  font-family: "Exo 2", sans-serif;
  width: 100vw; }

.h1PyE {
  font-size: 400%;
  color: white;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  animation-name: animarTitulo;
  animation-duration: 1.5s; }

.logosEquipos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 18%;
  margin-left: 18%;
  margin-bottom: 5%; }

.logoEquipo {
  height: 120px;
  margin-top: 5%;
  margin-right: 5%;
  animation-name: animarTitulo;
  animation-duration: 3s; }

.fotoPilotos {
  height: 380px; }

.h2Equipos {
  color: white;
  font-size: 300%;
  margin-left: 5%; }

.h3Pilotos {
  color: white;
  font-size: 180%;
  text-align: left; }

.h4Equipos {
  color: white;
  font-size: 120%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-weight: lighter;
  text-align: justify; }

.h4Pilotos {
  margin-top: 5%;
  color: white;
  font-size: 120%;
  font-weight: lighter;
  text-align: left;
  line-height: 2; }

@media only screen and (max-width: 992px) {
  .fotoP {
    padding-left: 10%; } }

@media only screen and (max-width: 768px) {
  .infoP {
    padding-left: 10%; }
  .logoEquipo {
    height: 80px; } }

@media only screen and (max-width: 550px) {
  .fotoPilotos {
    height: 280px; }
  .logoEquipo {
    height: 60px; }
  .h1PyE {
    font-size: 250%; }
  .h2Equipos {
    font-size: 200%; }
  .h3Pilotos {
    font-size: 120%; }
  .h4Equipos {
    font-size: 90%; }
  .h4Pilotos {
    font-size: 90%; } }

.mainLeyendas {
  background-color: grey;
  background-image: url("/imagenes/carbon_fibre.png");
  font-family: "Exo 2", sans-serif;
  width: 100vw; }

.h1Leyendas {
  font-size: 400%;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 6%;
  margin-left: 5%;
  animation-name: animarTitulo;
  animation-duration: 1.5s; }

.leyendas1 {
  text-align: right;
  padding-bottom: 8%; }

.divLeyendas {
  padding: 0; }

.h2Leyendas1 {
  font-size: 300%;
  color: white; }

.h3Leyendas1 {
  font-size: 100%;
  color: white;
  font-weight: lighter;
  text-align: justify; }

.fotoLeyendas {
  height: 320px;
  width: 550px; }

@media only screen and (max-width: 992px) {
  .leyendas1 {
    flex-direction: column;
    text-align: left; }
  .fotoLeyendas {
    height: 280px;
    width: 480px;
    margin-bottom: 10%;
    padding-left: 8%; }
  .h2Leyendas1 {
    padding-left: 8%; }
  .h3Leyendas1 {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5%; } }

@media only screen and (max-width: 600px) {
  .fotoLeyendas {
    height: 205px;
    width: 350px; }
  .h1Leyendas {
    font-size: 300%; }
  .h2Leyendas1 {
    font-size: 220%; }
  .h3Leyendas1 {
    font-size: 90%; } }

@media only screen and (max-width: 450px) {
  .fotoLeyendas {
    height: 145px;
    width: 250px; }
  .h1Leyendas {
    font-size: 250%; } }

.mainCircuitos {
  background-color: grey;
  background-image: url("/imagenes/carbon_fibre.png");
  font-family: "Exo 2", sans-serif;
  width: 100vw; }

.h1Circuitos {
  font-size: 400%;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 6%;
  margin-left: 5%;
  margin-bottom: 5%;
  animation-name: animarTitulo;
  animation-duration: 1.5s; }

.circuitos {
  text-align: center; }

.fotoCircuitos {
  height: 65%;
  width: 85%; }

.h2Circuitos {
  font-size: 200%;
  width: 350px;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto; }

.h3Circuitos {
  font-size: 100%;
  font-weight: lighter;
  color: white;
  text-align: justify;
  width: 350px;
  margin: auto; }

@media only screen and (max-width: 992px) {
  .h2Circuitos {
    width: 85%; }
  .h3Circuitos {
    width: 85%; } }

.mainContacto {
  background-color: grey;
  background-image: url("/imagenes/carbon_fibre.png");
  font-family: "Exo 2", sans-serif;
  height: 100vh;
  width: 100vw; }

.h2Contacto {
  font-size: 350%;
  color: white;
  padding-top: 3%;
  animation-name: animarTitulo;
  animation-duration: 1.5s; }

.pContacto {
  font-size: 150%;
  color: white;
  padding-top: 3%; }

.fotoContacto {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .fotoContacto {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%; }
  .infoContacto {
    padding-left: 10%; } }

@media only screen and (max-width: 480px) {
  .h2Contacto {
    font-size: 250%; }
  .pContacto {
    font-size: 100%; } }
