.mainCircuitos{
    background-color: map-get($color,fondo);
    background-image: url($foto-fondo);
    font-family: $tipografia-texto;
    width: 100vw;
}
.h1Circuitos{
    @extend %texto-titulo;
    color: map-get($color,texto);
    animation-name: animarTitulo;
    animation-duration: 1.5s;
}
.circuitos{
    text-align: center;
}
.fotoCircuitos{
    height: 65%;
    width: 85%;
}
.h2Circuitos{
    @include font (200%, center);
    width: 350px;
    color:map-get($color,texto);
    padding-top: 5%;
    padding-bottom: 5%;
    margin:auto;
}
.h3Circuitos{
    @include font (100%, justify);
    font-weight: lighter;
    color: map-get($color,texto);
    width: 350px;
    margin:auto;
}

@media only screen and (max-width:992px){
    .h2Circuitos{
        width:85%;
    }
    .h3Circuitos{
        width:85%;
    }
}