.mainPyE{
    background-color: map-get($color, fondo);
    background-image: url($foto-fondo);
    font-family: $tipografia-texto;
    width: 100vw;
}
.h1PyE{
    @extend %texto-titulo;
    color: map-get($color, texto);
    animation-name: animarTitulo;
    animation-duration: 1.5s;
}
.logosEquipos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 18%;
    margin-left: 18%;
    margin-bottom: 5%;
}
.logoEquipo{
    height: 120px;
    margin-top: 5%;
    margin-right: 5%;
    animation-name: animarTitulo;
    animation-duration: 3s;
}
.fotoPilotos{
    height: 380px;
}
.h2Equipos{
    @include font (300%, left);
    color: map-get($color, texto);
    margin-left: 5%;
    padding-top: 5%;
}
.h3Pilotos{
    @include font (180%, left);
    color: map-get($color, texto);
    font-size: 180%;
    text-align: left;
}
.h4Equipos{
    @include font (120%, justify);
    color:map-get($color, texto);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-weight: lighter;
}
.h4Pilotos{
    @include font (120%, left);
    color: map-get($color, texto);
    font-weight: lighter;
    line-height: 2;
}

@media only screen and (max-width:1250px){
    .fotoPilotos{
       height: auto;
       width: 100%;
    }
}

@media only screen and (max-width:992px){
    .fotoP{
        padding-left: 10%;
        padding-bottom: 5%;
    }
    .fotoPilotos{
        height: 380px;
        width: auto;
     }
}

@media only screen and (max-width:768px){
    .infoP{
        padding-left:10%;
    }
    .logoEquipo{
        height: 80px;
    }
    .fotoP{
        padding-bottom: 2.5%;
    }
    .h4Pilotos{
        padding-bottom: 5%;
    }
}

@media only screen and (max-width:550px){
    .fotoPilotos{
        height: 280px ;
    }
    .logoEquipo{
        height: 60px;
    }
    .h1PyE{
        font-size: 250%;
    }
    .h2Equipos{
        font-size: 200%;
    }
    .h3Pilotos{
        font-size: 120%;
    }
    .h4Equipos{
        font-size: 90%;
    }
    .h4Pilotos{
        font-size: 90%;
    }
}